input:focus {
    outline: none;
    border: 1px solid #000;
}


.superInput {
    margin:5px;

    background: mediumaquamarine;
    color:#000
}

.errorInput {
    border: 3px solid lime;
    background: red;
}

.error {
    color: red;
}